html {
  height:  auto;
  width: auto;
}

*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50;
    margin: 10;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
body {
  position: relative;
}
/*body {

  /*background-color: #000000;*/
  /*background: url(images/1.jpg) no-repeat 0 11px;*/
  /*background: -webkit-linear-gradient(#0022ad, #00e5ff, #0022ad);*/
  /*background-size: 350px;*/
  /*min-height: 5%;*/
  /*margin:0;*/
  /*padding:0;*/
/*}*/

/* Header */



div1 {
  width: auto;
  height: auto;
  position: relative;
  left: 70%;
}
.content {

  cursor: pointer;
  background-color: hsl(15, 25%, 66%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dccbc5", endColorstr="#bd9d92");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#A2BAFC), to(#ff7f00));
  background-image: -moz-linear-gradient(top, #AAFF00,#ff7f00);
  background-image: -ms-linear-gradient(top, #AAFF00, #ff7f00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #AAFF00), color-stop(100%, #97AEEE));
  background-image: -webkit-linear-gradient(top, #AAFF00, #ff7f00);
  background-image: -o-linear-gradient(top, #AAFF00, #ff7f00);
  background-image: linear-gradient(#AAFF00, #ff7f00);
  border-color: #ff7f00 #ff7f00 hsl(15, 25%, 62%);
  -webkit-font-smoothing: antialiased;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #A2BAFC
  font-size: 16px;
  padding: 6px 8px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #AAFF00;
  
}
#wrapper {
  background: url(img/img14.jpg) no-repeat center top;
}

#header {
  width: 250px;
  height: 128px;
  margin: 0 auto;
}
header
{
  text-align: center;
  font-size: 24px;
  background-color: #A2BAFC;
  font-family: 'Viga', sans-serif;
  color: rgb(0, 0, 0);
  margin-top: 0px;
  width: 100%;
  height: 50px;
  padding: 0;
  border: 5px solid #000000;
  margin: 0;
}
h1{
  text-align: center;
  font-size:  80px;
  font-family: 'Viga', sans-serif;
  width: 100%;
  height: 10px;
  color: #00FFDA;
  text-shadow: 0px 0px 40px ;

}
h2{
  text-align: center;
  font-size:  32px;
  font-family: 'Viga', sans-serif;
  width: 100%;
  height: 10px;
  color: #FF7700;
  text-shadow: 3px 5px 0px #000;
}
.format-buttons .btn {
  padding-left: 4px;
  padding-right: 4px;
}
.btn {
  cursor: pointer;
  background-color: hsl(15, 25%, 100%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dccbc5", endColorstr="#bd9d92");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#A2BAFC), to(#ff7f00));
  background-image: -moz-linear-gradient(top, #AAFF00,#ff7f00);
  background-image: -ms-linear-gradient(top, #AAFF00, #ff7f00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #AAFF00), color-stop(100%, #97AEEE));
  background-image: -webkit-linear-gradient(top, #AAFF00, #ff7f00);
  background-image: -o-linear-gradient(top, #AAFF00, #ff7f00);
  background-image: linear-gradient(#AAFF00, #ff7f00);
  border-color: #ff7f00 #ff7f00 hsl(15, 25%, 62%);
  -webkit-font-smoothing: antialiased;
  border-radius: 6px;
  border: 1px solid #000;
  display: inline-block;
  color: #000;
  font-size: 18px;
  padding: 6px 8px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #fff;
}
#terminal {
  background: #fff;
  color: #000000;
  font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
  font-weight: lighter;
  border: solid 1px;
  padding: 10px;
  margin-top: 35px;
}
.terminal-top-bar {
  background: #000000;
  height: 44px;
  font-size: 12px;
  line-height: 14px;
  margin-top: -30px;
  margin-left: -11px;
  margin-right: -11px;
  padding: 3px;
  text-align: center;
  color: black;
  border: solid 1px;
  border-radius: 2px 2px 0 0;
}
.terminal-header {
  padding-top: 15px;
}
 #input {
  width: 80%;
  padding: 4px;
}
 #output {
  white-space: pre-wrap;
  word-break: break-all;
}
.sample-commands {
  text-align: center;
      }
.run-command {
  cursor: pointer;
  -moz-box-shadow: inset 0px 1px 0px 0px #A2BAFC;
  -webkit-box-shadow: inset 0px 1px 0px 0px #A2BAFC;
  box-shadow: inset 0px 1px 0px 0px #A2BAFC;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #A2BAFC), color-stop(1, #97AEEE));
  background: -moz-linear-gradient(top, #A2BAFC 5%, #97AEEE 100%);
  background: -webkit-linear-gradient(top, #A2BAFC 5%, #97AEEE 100%);
  background: -o-linear-gradient(top, #A2BAFC 5%, #97AEEE 100%);
  background: -ms-linear-gradient(top, #A2BAFC 5%, #97AEEE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#97AEEE',GradientType=0);
  background-color: #A2BAFC;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #000000;
  font-size: 14px;
  padding: 6px 8px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #A2BAFC;
}
/*.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}*/
.mediumfront {
  font-size:  14px;
  font-family: 'Viga', sans-serif;
  margin:0;
}
.col-md-1 {
    width: 20%;
  }
.col-md-2 {
    width: 5%;
  }
.btn-group {
  position: center;
  display: inline-block;
   /*width: 100px;*/
    margin: 30px ;
    padding: 5px;
   

    /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: white; /* Fallback */
    background: -moz-linear-gradient(#eeefef, #ffffff 10%);
    background: -ms-linear-gradient(#eeefef, #ffffff 10%);
    background: -o-linear-gradient(#eeefef, #ffffff 10%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeefef), color-stop(0.1, #ffffff));
    background: -webkit-linear-gradient(#eeefef, #ffffff 10%);
    background: linear-gradient(#eeefef, #ffffff 10%);
  
}

.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
}

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active {
  z-index: 2;
}

.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus {
  outline: none;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
.btn-toolbar > .btn + .btn,
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn + .btn-group,
.btn-toolbar > .btn-group + .btn-group {
  margin-left: 5px;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

.btn-group > .btn:first-child {
  margin-left: 0;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group > .btn-group {
  float: left;
}

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btn-group > .btn-group:first-child > .btn:last-child,
.btn-group > .btn-group:first-child > .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > .btn-group:last-child > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}

.btn-group-xs > .btn {
  padding: 5px 10px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-group > .btn + .dropdown-toggle {
  padding-right: 8px;
  padding-left: 8px;
}

.btn-group > .btn-lg + .dropdown-toggle {
  padding-right: 12px;
  padding-left: 12px;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-group.open .dropdown-toggle.btn-link {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}

.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after {
  display: table;
  content: " ";
}

.btn-group-vertical > .btn-group:after {
  clear: both;
}

.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after {
  display: table;
  content: " ";
}

.btn-group-vertical > .btn-group:after {
  clear: both;
}

.btn-group-vertical > .btn-group > .btn {
  float: none;
}

.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-left: 0;
}

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
}

.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btn-group-vertical > .btn-group:first-child > .btn:last-child,
.btn-group-vertical > .btn-group:first-child > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn-group:last-child > .btn:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.sidebar {
  position: relative;
}
.sidebar .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  opacity: .8;
  z-index: 10;
}
.sidebar .btn-group {
  width: 100%;
}
.sidebar p {
  padding:0px 15px;
}
.sidebar ul {
  list-style:none;
  margin:10px 10px;
  padding:0px;
}
.sidebar ul > li {
  display:block;
  padding:6px;
  cursor: pointer;
  background: #EEE;
  border: 1px solid #aaa;
  border-radius: 1px;
  margin-top:4px;
}
.sidebar ul > li.first-child {
  margin-top: none;
}
.sidebar ul > li.active {
  background: red;
}
.center {
  position: relative;
  margin: 10px;
}
.down
{
    position: relative;
    bottom:50%;
    
   
}
.div2
{
   width:300px;
   padding: 30px;
   border: 25px solid navy;
   margin:25px;
}
.test{
  width: 150px;
  height: 100px;
  margin: 16px;
  padding: 16px;
}

left_web
{
    left: 0px;
    top: 30px;
    border-color: grey;
    border:5px;
}
right
{
    position:  absolute;
    top:10px;
    right:50px;
}


.form-3 {
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 40;
    /* Size and position */
    width: 1;
    position: relative;
    margin: 60px auto 30px;
    padding: 5px;
    overflow: hidden;

    /* Styles */
    /*background: #111111; */
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: 
        inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
}

.form-3 label {
    /* Size and position */
    width: 20%;
    float: left;
    padding-top: 9px;

    /* Styles */
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #000;
    text-indent: 10px;
    font-weight: 70;
    cursor: pointer;
}

.form-3 input[type=text],
.form-3 input[type=password] {
    /* Size and position */
    width: 50%;
    float: left;
    padding: 8px 5px;
    margin-bottom: 10px;
    font-size: 12px;

    /* Styles */
    background: #1f2124; /* Fallback */
    background: -moz-linear-gradient(#1f2124, #27292c);
    background: -ms-linear-gradient(#1f2124, #27292c);
    background: -o-linear-gradient(#1f2124, #27292c);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1f2124), to(#27292c));
    background: -webkit-linear-gradient(#1f2124, #27292c);
    background: linear-gradient(#1f2124, #27292c);    
    border: 2px solid #000;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;

    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #fff;

}

.form-3 input[type=text]:hover,
.form-3 input[type=password]:hover,
.form-3 label:hover ~ input[type=text],
.form-3 label:hover ~ input[type=password] {
    background: -webkit-linear-gradient(#ffffff, #cec8c8, #ffffff);
}

.form-3 input[type=text]:focus, 
.form-3 input[type=password]:focus {
    box-shadow: inset 0 0 2px #000;
    background: #494d54;
    border-color: #51cbee;
    outline: none; /* Remove Chrome outline */
}

.form-3 p:nth-child(3),
.form-3 p:nth-child(4) {
    float: left;
    width: 50%;
}

.form-3 label[for=remember] {
    width: auto;
    float: none;
    display: inline-block;
    text-transform: capitalize;
    font-size: 11px;
    font-weight: 40;
    letter-spacing: 0px;
    text-indent: 2px;
}

.form-3 input[type=checkbox] {
    margin-left: 1px;
    vertical-align: middle;
}

.form-3 button[type=submit] {
    /* Width and position */
    width: 20%;
    /*padding: 8px 5px;*/
  
    /* Styles */
    border: 1px solid #000000; /* Fallback */
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #000000;
    cursor:pointer;
  
    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 0;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}

.form-3 button[type=submit]:hover { 
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}

.form-3 button[type=submit]:active { 
    background: #000000;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
    border-color: #000000; /* Fallback */
    border-color: rgba(0,0,0,0.9);
}

.no-boxshadow .form-3 button[type=submit]:hover {
    background: #000000;
}

/*.form-3:after {*/
    /* Size and position */
   /* content: "";
    height: 1px;
    width: 33%;
    position: absolute;
    left: 20%;
    top: 0;*/

    /* Styles */
   /* background: -moz-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
    background: -ms-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
    background: -o-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
    background: -webkit-gradient(linear, 0 0, 10% 0, from(transparent), color-stop(0.25, #444), color-stop(0.5, #b6b6b8), color-stop(0.75, #444), to(transparent));
    background: -webkit-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
    background: linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
}*/

/*.form-3:before {*/
    /* Size and position */
    /*content: "";*/
    /*width: 8px;*/
    /*height: 5px;*/
    /*position: absolute;*/
    /*left: 34%;*/
    /*top: -7px;*/
    
    /* Styles */
    /*border-radius: 50%;*/
    /*box-shadow: 0 0 20px 4px #fff;*/
/*}*/

.form-3 p:nth-child(1):before{
    /* Size and position */
    content:"";
    width:20px;
    height:20px;
    position:absolute;
    top:0;
    left:30px;

    /* Styles */
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    transform: rotate(75deg);
    background: -moz-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    background: -ms-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    background: -o-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    background: -webkit-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    pointer-events:none;
}

.no-pointerevents .form-3 p:nth-child(1):before {
    display: none;
}

.form-1 {
    /* Size & position */
    width: 200px;
    margin: 40px ;
    padding: 5px;
    position: relative; /* For the submit button positioning */

    /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: white; /* Fallback */
    background: -moz-linear-gradient(#eeefef, #ffffff 10%);
    background: -ms-linear-gradient(#eeefef, #ffffff 10%);
    background: -o-linear-gradient(#eeefef, #ffffff 10%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeefef), color-stop(0.1, #ffffff));
    background: -webkit-linear-gradient(#eeefef, #ffffff 10%);
    background: linear-gradient(#eeefef, #ffffff 10%);
}

.form-1 .field {
    position: relative; /* For the icon positioning */
}

.form-1 .field i {
    /* Size and position */
    left: 0px;
    top: 0px;
    position: absolute;
    height: 36px;
    width: 36px;

    /* Line */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 42px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

.form-1 input[type=text],
.form-1 input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    /* Size and position */
    width: 100%;
    padding: 10px 18px 10px 45px;

    /* Styles */
    border: none; /* Remove the default border */
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.form-1 input[type=text] {
    margin-bottom: 10px;
}

.form-1 input[type=text]:hover ~ i,
.form-1 input[type=password]:hover ~ i {
    color: #52cfeb;
}

.form-1 input[type=text]:focus ~ i,
.form-1 input[type=password]:focus ~ i {
    color: #42A2BC;
}

.form-1 input[type=text]:focus,
.form-1 input[type=password]:focus,
.form-1 button[type=submit]:focus {
    outline: none;
}

.form-1 .submit {
    /* Size and position */
    width: 65px;
    height: 65px;
    position: absolute;
    top: 17px;
    right: -25px;
    padding: 10px;
    z-index: 2;

    /* Styles */
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 
        0 0 2px rgba(0,0,0,0.1),
        0 3px 2px rgba(0,0,0,0.1),
        inset 0 -3px 2px rgba(0,0,0,0.2);
}


.form-1 .submit:after {
    /* Size and position */
    content: none;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -2px;
    left: 30px;

    /* Styles */
    background: #ffffff;
    
    /* Other masks trick */
    box-shadow: 0 62px white, -32px 31px white;
}

.form-1  button {
    /* Size and position */
    width: 100% ;
    height: 100%;
    margin-top: -3px;

    /* Icon styles */
    font-size: 1.5em;
    line-height: 1.75;
    color: black;

    


   

    /* Styles */
    border: 5; /* Remove the default border */
    border-bottom-style:outset;
    border-radius: outset ;
    background: black; /* Fallback */
    background: -moz-linear-gradient(black,transparent);
    /*background: -ms-linear-gradient(#000000, #ffffff);*/
    /*background: -o-linear-gradient(#000000, #ffffff);*/
    /*background: -webkit-gradient(linear, 0 0, 0 50%, from(##80FF00), to(#42A2BC));*/
    /*background: -webkit-linear-gradient(#000000, #ffffff);*/
    /*background: linear-gradient(#000000, #ffffff);*/
    box-shadow: 
        inset 0 1px 0 rgba(0,255,255,0.3),
        0 1px 2px rgba(0,0,0,0.35),
        inset 0 3px 2px rgba(0,255,255,0.2),
        inset 0 -3px 2px rgba(1,0,10,10);
        text-shadow: 1px 2px 0px #AAFF00;

    cursor: pointer;
}

.form-1 button:hover,
.form-1 button[type=submit]:focus {
    background :white;
    box-shadow: black;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.form-1 button:active {
    background :-moz-linear-gradient(black,red);
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.3),
        inset 0 3px 4px rgba(0,0,0,0.3);
}



